<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <base href="{{base}}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">
    
    <title>HORNARINA</title>
    
    <link rel="shortcut icon" href="theme/assets/images/favicon_1.ico">

    <link href="theme/plugins/switchery/switchery.min.css" rel="stylesheet" />
    
    <link href="theme/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="theme/assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="theme/assets/css/style.css" rel="stylesheet" type="text/css">
    <script src="theme/assets/js/modernizr.min.js"></script>
</head>


<body class="fixed-left">

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <div class="topbar">

            <!-- LOGO -->
            <div class="topbar-left">
                <div class="text-center">
                    <a href="index.html" class="logo"><i class="mdi mdi-radar"></i> <span>HORNARINA</span></a>
                </div>
            </div>

            <!-- Button mobile view to collapse sidebar menu -->
            <nav class="navbar-custom">

                <ul class="list-inline float-right mb-0">

                    <li class="list-inline-item dropdown notification-list">
                        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <img src="theme/assets/images/users/avatar-1.jpg" alt="user" class="rounded-circle">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-dropdown " aria-labelledby="Preview">
                            
                            <!-- item-->
                            <div class="dropdown-item noti-title">
                                <h5 class="text-overflow"><small>¡Bienvenido {{name}}!</small> </h5>
                            </div>
                            <!-- item-->
                            <a href="#" class="dropdown-item notify-item"><i class="mdi mdi-account"></i> <span>Perfil</span></a>
                            <!-- item-->
                            <a href="#" class="dropdown-item notify-item"><i class="mdi mdi-settings"></i> <span>Configuración</span></a>
                            <!-- item-->
                            <a href="index/logout" class="dropdown-item notify-item"><i class="mdi mdi-logout"></i> <span>Salir</span></a>

                        </div>
                    </li>

                </ul>

                <ul class="list-inline menu-left mb-0">
                    
                    <li class="float-left">
                        <button class="button-menu-mobile open-left waves-light waves-effect">
                                <i class="mdi mdi-menu"></i>
                            </button>
                    </li>
                    
                </ul>

            </nav>

        </div>
        <!-- Top Bar End -->


        <!-- ========== Left Sidebar Start ========== -->

        <div class="left side-menu">
            <div class="sidebar-inner slimscrollleft">
                <!--- Divider -->
                <div id="sidebar-menu">
                    
                    <ul>
                        
                        <li class="menu-title">Main</li>

                        <li>
                            <a href="index/templateDashboard" class="waves-effect waves-primary"><i class="mdi mdi-home"></i><span> Dashboard </span></a>
                        </li>
                        <li>
                            <a href="index/templateClient" class="waves-effect waves-primary"><i class="mdi mdi-account-multiple"></i><span> Clientes </span></a>
                        </li>
                        <li>
                            <a href="index/templateProduct" class="waves-effect waves-primary"><i class=" mdi mdi-food-variant"></i><span> Productos </span></a>
                        </li>
                        <li>
                            <a href="index/templateTpv" class="waves-effect waves-primary"><i class="mdi mdi-square-inc"></i><span> TPV </span></a>
                        </li>
                        {{administrate}}
                        <li>
                            <a href="index/logout" class="waves-effect waves-primary"><i class="mdi mdi-logout"></i><span> Salir </span></a>
                        </li>
                        
                    </ul>

                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container-fluid">

                    <!-- Page-Title -->
                    <div class="row">
                        
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <h4 class="page-title">Editar Miembro</h4>
                                <ol class="breadcrumb float-right">
                                    <li class="breadcrumb-item"><a href="index/templateDashboard">Dashboard</a></li>
                                    <li class="breadcrumb-item"><a href="index/templateAdministrate">Administrar</a></li>
                                    <li class="breadcrumb-item active">Editar Miembro</li>
                                </ol>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        
                        <div class="col-lg-12">

                            <div class="card-box">
                                <h4 class="header-title m-t-0">Editar Miembro</h4>

                                <form method="post" enctype="application/x-www-form-urlencoded" action="index/editMember">
                                    <div class="form-group">
                                        <label for="login">Login<span class="text-danger" id="spanLogin">*</span></label>
                                        <input type="text" name="login" parsley-trigger="change" required
                                               placeholder="Login" class="form-control" id="login" value="{{login}}">
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password<span class="text-danger" id="spanPassword">*</span></label>
                                        <input type="password" name="password" parsley-trigger="change" required
                                               placeholder="Password" class="form-control" id="Password">
                                    </div>
                                    <div class="form-group">
                                        <label for="repassword">Repita Password<span class="text-danger" id="spanRePassword">*</span></label>
                                        <input type="password" name="repassword" parsley-trigger="change" required
                                               placeholder="Repita Password" class="form-control" id="repassword">
                                    </div>
                                    <input type="hidden" value="{{id}}" name="id">
                                    <div class="form-group text-right m-b-0">
                                        <button class="btn btn-primary waves-effect waves-light" type="submit">Editar</button>
                                    </div>

                                </form>
                            </div> <!-- end card-box -->
                        </div>
                        <!-- end col -->
                        
                    </div>
                    <!-- end row -->

                </div>
                <!-- end container -->
            </div>
            <!-- end content -->

            <footer class="footer text-right">
               2018 © Hornarina.
            </footer>

        </div>

    </div>
    <!-- END wrapper -->

    <script>
        var resizefunc = [];
    </script>

    <!-- Plugins  -->
    <script src="theme/assets/js/jquery.min.js"></script>
    <script src="theme/assets/js/popper.min.js"></script><!-- Popper for Bootstrap -->
    <script src="theme/assets/js/bootstrap.min.js"></script>
    <script src="theme/assets/js/detect.js"></script>
    <script src="theme/assets/js/fastclick.js"></script>
    <script src="theme/assets/js/jquery.slimscroll.js"></script>
    <script src="theme/assets/js/jquery.blockUI.js"></script>
    <script src="theme/assets/js/waves.js"></script>
    <script src="theme/assets/js/wow.min.js"></script>
    <script src="theme/assets/js/jquery.nicescroll.js"></script>
    <script src="theme/assets/js/jquery.scrollTo.min.js"></script>
    <script src="theme/plugins/switchery/switchery.min.js"></script>

    <!-- Custom main Js -->
    <script src="theme/assets/js/jquery.core.js"></script>
    <script src="theme/assets/js/jquery.app.js"></script>
    <script src="js/edit_administrate.js"></script>
</body>

</html>