<!DOCTYPE html>
<html>
    
<head>
    
    <meta charset="utf-8">
    <base href="{{base}}"> 
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">
    
    <title>Login Hornanina</title>
    
    <link rel="shortcut icon" href="theme/assets/images/favicon_1.ico">
    
    <link href="theme/plugins/switchery/switchery.min.css" rel="stylesheet" />
    <link href="theme/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="theme/assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="theme/assets/css/style.css" rel="stylesheet" type="text/css">
    <script src="theme/assets/js/modernizr.min.js"></script>

</head>

<body>

    <div class="wrapper-page">

        <div class="text-center">
            <a href="index.php" class="logo-lg"><i class="mdi mdi-radar"></i> <span>Hornarina TPV</span></a>
        </div>

        <form class="form-horizontal m-t-20" action="index/login" method="POST" enctype="multipart/form-data">

            <div class="form-group row">
                <div class="col-12">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="mdi mdi-account"></i></span>
                        <input class="form-control" type="text" required="" placeholder="Username" name="login" id="login">
                    </div>
                    <label><span class="text-danger" id="spanLogin"></span></label>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="mdi mdi-key"></i></span>
                        <input class="form-control" type="password" required="" placeholder="Password" name="password" id="password">
                    </div>
                    <label><span class="text-danger" id="spanPassword"></span></label>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12">
                    <div class="checkbox checkbox-primary">
                        <input id="checkbox-signup" type="checkbox">
                        <label for="checkbox-signup">Remember me</label>
                    </div>
                </div>
            </div>
            
            <h4 class="text-dark header-title m-t-0">{{message}}</h4>
            
            <div class="form-group text-center m-t-20">
                <div class="col-xs-12">
                    <button class="btn btn-primary btn-custom w-md waves-effect waves-light" type="submit">Log In</button>
                </div>
            </div>
        </form>
        
    </div>

    <script>
        var resizefunc = [];
    </script>

    <script src="theme/assets/js/jquery.min.js"></script>
    <script src="theme/assets/js/popper.min.js"></script>
    <script src="theme/assets/js/bootstrap.min.js"></script>
    <script src="theme/assets/js/detect.js"></script>
    <script src="theme/assets/js/fastclick.js"></script>
    <script src="theme/assets/js/jquery.slimscroll.js"></script>
    <script src="theme/assets/js/jquery.blockUI.js"></script>
    <script src="theme/assets/js/waves.js"></script>
    <script src="theme/assets/js/wow.min.js"></script>
    <script src="theme/assets/js/jquery.nicescroll.js"></script>
    <script src="theme/assets/js/jquery.scrollTo.min.js"></script>
    <script src="theme/plugins/switchery/switchery.min.js"></script>
    <script src="theme/assets/js/jquery.core.js"></script>
    <script src="theme/assets/js/jquery.app.js"></script>
    <script src="js/login.js"></script>
</body>

</html>
