            <!-- end content -->

            <footer class="footer text-right">
                2018 © Hornanina.
            </footer>

        </div>
        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->

    </div>
    <!-- END wrapper -->



    <script>
        var resizefunc = [];
    </script>

    <!-- Plugins  -->
    <script src="theme/assets/js/jquery.min.js"></script>
    <script src="theme/assets/js/popper.min.js"></script>
    <!-- Popper for Bootstrap -->
    <script src="theme/assets/js/bootstrap.min.js"></script>
    <script src="theme/assets/js/detect.js"></script>
    <script src="theme/assets/js/fastclick.js"></script>
    <script src="theme/assets/js/jquery.slimscroll.js"></script>
    <script src="theme/assets/js/jquery.blockUI.js"></script>
    <script src="theme/assets/js/waves.js"></script>
    <script src="theme/assets/js/wow.min.js"></script>
    <script src="theme/assets/js/jquery.nicescroll.js"></script>
    <script src="theme/assets/js/jquery.scrollTo.min.js"></script>
    <script src="theme/plugins/switchery/switchery.min.js"></script>

    <!-- Counter Up  -->
    <script src="theme/plugins/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="theme/plugins/counterup/jquery.counterup.min.js"></script>

    <!--Morris Chart-->
    <script src="theme/plugins/morris/morris.min.js"></script>
    <script src="theme/plugins/raphael/raphael-min.js"></script>

    <!-- Page js  -->
    <script src="theme/assets/pages/jquery.dashboard.js"></script>

    <!-- Custom main Js -->
    <script src="theme/assets/js/jquery.core.js"></script>
    <script src="theme/assets/js/jquery.app.js"></script>


    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $('.counter').counterUp({
                delay: 100,
                time: 1200
            });
        });
    </script>

</body>

</html>